# Visual Studio / .NET
bin/
obj/
.vs/
*.user
*.suo
*.cache

# База создаётся при запуске
**/pharmacy.db
**/pharmacy.db-journal

# Windows
Thumbs.db
Desktop.ini
/Prilozhenie 1 k individualnomu zadaniyu (shablon dlya zapolneniya) (1).pptx
